<?xml version="1.0" encoding="UTF-8"?>
<plugin
  xmlns="http://apache.org/cordova/ns/plugins/1.0"
  xmlns:android="http://schemas.android.com/apk/res/android"
  id="cordova-plugin-stripe-google-pay"
  version="0.0.1"
  >
    <name>cordova-plugin-stripe-google-pay</name>
    <description>Cordova plugin for Stripe Google pay integration</description>
    <license>MIT</license>
    <keywords>cordova,stripe,google,pay</keywords>
    <author>Asanga Dev</author>
    <repo>https://github.com/asangadev/cordova-plugin-stripe-google-pay.git</repo>
    <issue>https://github.com/asangadev/cordova-plugin-stripe-google-pay/issues</issue>
    <js-module src="www/stripe-google-pay.js" name="sgap">
        <clobbers target="sgap" />
    </js-module>

    <dependency id="es6-promise-plugin" version="4.1.0" />

    <platform name="android">
        <config-file parent="/*/application" target="AndroidManifest.xml">
            <meta-data android:name="com.google.android.gms.wallet.api.enabled" android:value="true" />
        </config-file>

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="StripeGooglePay">
                <param name="android-package" value="StripeGooglePay.StripeGooglePay" />
                <param name="onload" value="true" />
            </feature>
        </config-file>
        <source-file src="src/android/StripeGooglePay/StripeGooglePay.java" target-dir="src/android/StripeGooglePay" />
        <framework src="com.stripe:stripe-android:6.1.2" />
        <framework src="com.google.android.gms:play-services-wallet:16.0.0" />
        <framework src="com.android.support:support-v4:27.0.2" />
        <framework src="com.android.support:appcompat-v7:24.1.1" />
    </platform>
</plugin>
